.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bannar{
 
  position: relative;
  display: inline-block;
  margin: 50px 140px;
}
.bannar .image {
  display: block;
  filter: brightness(50%);
  
}
.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.L-heading {
    font-size: 32px;
    color: white;
}

.heading {
    font-size: 72px;
    font-weight: 900;
    color: white;
}
.main65 {
    text-align: center;
}

.title {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
}
.s-title {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.f-heading {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
}

.off {
    margin: 0px 399px;
}

/* victory section */
.vector {
  font-size: 64px;
  text-align: left;
  font-weight: 900;
  color: white;
  padding-right: 20%;
}
.vector-des {
  font-size: 18px;
  color: white;
  font-weight: 400;
  padding-right: 50px;
}

.bg-v {
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}


.bg-pic {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}

.do {
  margin-top: 120px;
  margin-bottom: 120px;
}

.bg-v button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: transparent;
  padding-left: 20px;
}

.t-bg {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
   background: linear-gradient(to bottom,
    rgba(255, 0, 0, 0.1) 0%,      /* Light red top */
    rgba(255, 0, 0, 0.0) 100%     /* Fully transparent bottom */
  );
  padding: 110px 370px;
  margin-left: 140px;
  margin-right: 120px;
  border-radius: 20px;
}

.t-bg span {
  color: #FF0000;
}
.t-bg button{
    font-size: 20px;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
}
