.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.margin{
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 50px;
}

.bannar{
 
  position: relative;
  display: inline-block;
}
.bannar .image {
  display: block;
  filter: brightness(50%);
  
}
.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.L-heading {
    font-size: 32px;
    color: white;
}

.heading {
    font-size: 72px;
    font-weight: 900;
    color: white;
}
.main65 {
    text-align: center;
}

.title {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
}
.s-title {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.f-heading {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
}

.off {
    margin: 0px 260px;
}

/* victory section */
.vector {
  font-size: 64px;
  text-align: left;
  font-weight: 900;
  color: white;
  padding-right: 20%;
}
.vector-des {
  font-size: 18px;
  color: white;
  font-weight: 400;
  padding-right: 50px;
}

.bg-v {
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}


.bg-pic {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: left;
}

 .do {
  margin-top: 120px;
  margin-bottom: 120px;
} 

.bg-v button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: none;
  background-color: transparent;
  padding-left: 20px;
}

.t-bg {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
   background: linear-gradient(to bottom,
    rgba(255, 0, 0, 0.1) 0%,      /* Light red top */
    rgba(255, 0, 0, 0.0) 100%     /* Fully transparent bottom */
  );
  padding: 110px 370px;
  border-radius: 20px;
}

.t-bg span {
  color: #FF0000;
}
.t-bg button{
    font-size: 20px;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
}

.third-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 65px;
  flex-wrap: wrap;
  margin-top: 120px;
}
.left {
  max-width: 380px;
}
.right {
  max-width: 280px;
  margin-left: 40px;
}

.circle-wrapper {
  width: 430px;
  height: 430px;
  border: 15px solid red;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.s-new {
  font-size: 24px;
  font-weight: 500;
  color: #FF0000;
}

.caption {
  font-size: 48px;
  font-weight: 900;
  color: #070211;
}

.des {
  font-size: 20px;
  font-weight: 400;
  color: rgba(7, 2, 17, 0.6);
}

.r-cap {
  font-size: 48px;
  font-weight: 900;
  color: #FF0000;
}

.what {
  font-size: 24px;
  font-weight: 500;
  color: #070211;
}
.what-t {
  font-size: 72px;
  font-weight: 900;
  color: #070211;
}
.what-t span {
  color: #FF0000;
}

.what-des {
  font-size: 20px;
  font-weight: 500;
  color: rgba(7, 2, 17, 0.6) ;
}
.whattt {
  text-align: center;
  margin-top: 120px;
}

