.merriweather-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.bannar{
 
  position: relative;
  display: inline-block;
  margin: 50px 140px;
}
.bannar img {
  display: block;
  filter: brightness(50%);
  
}
.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.L-heading {
    font-size: 32px;
    color: white;
}

.heading {
    font-size: 72px;
    font-weight: bolder;
    color: white;
}
.main65 {
    text-align: center;
}

.title {
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
}
.s-title {
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.f-heading {
    font-size: 48px;
    font-weight: 700;
    color: #070211;
}

.off {
    margin: 0px 399px;
}